In [76]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [77]:
total_players_count = len(purchase_data["SN"].value_counts())
total_players_df = pd.DataFrame({
    "Total Players": [total_players_count]
})

total_players_df

   Total Players
0            576

In [78]:
purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items":[len(purchase_data["Item ID"].value_counts())],
    "Average Price": [purchase_data["Price"].mean()], 
    "Number of Purchases": [purchase_data["Purchase ID"].count()],
    "Total Revenue": [purchase_data["Price"].sum()]
    
})
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_df.round(2)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [79]:
gender_dem_df = pd.DataFrame()

gender_dem_df["Total Players"] = purchase_data.groupby(["Gender"])["SN"].nunique()
gender_dem_df["Percentage of Players"] = (purchase_data.groupby(["Gender"])["SN"].nunique()/
                                           purchase_data.groupby(["Gender"])["SN"].nunique().sum())*100

gender_dem_df["Percentage of Players"] = gender_dem_df["Percentage of Players"].map("{:.2f}%".format)
gender_dem_df.sort_values(by=["Total Players"], ascending=False)

                       Total Players Percentage of Players
Gender
Male                             484                84.03%
Female                            81                14.06%
Other / Non-Disclosed             11                 1.91%

In [80]:
gender_dem_df = purchase_data.groupby(["Gender"])

total_players_gen = gender_dem_df["SN"].nunique()

perc_players_gen = (purchase_data.groupby(["Gender"])["SN"].nunique()/
                                           purchase_data.groupby(["Gender"])["SN"].nunique().sum())*100

gender_dem_df = pd.DataFrame({
    "Total Players": total_players_gen,
    "Percentage of Players": perc_players_gen.map("{:.2f}%".format)
})

gender_dem_df

                       Total Players Percentage of Players
Gender
Female                            81                14.06%
Male                             484                84.03%
Other / Non-Disclosed             11                 1.91%

In [81]:
#create data frame to store gender
purchasing_gen_df = pd.DataFrame()

#calculate total players for each gender
total_players_gen_1 = purchase_data["Gender"].value_counts()
purchasing_gen_df["Total Players"] = total_players_gen

avg_purchase =  purchase_data.groupby(["Gender"])["Price"].mean().round(2).map("${:.2f}".format)
purchasing_gen_df["Average Purchase Price"] = avg_purchase

total_purchase = purchase_data.groupby(["Gender"])["Price"].sum().round(2).map("${:.2f}".format)
purchasing_gen_df["Total Purchase Value"] = total_purchase

per_person = purchase_data.groupby(["Gender"])["Price"].sum()/total_players_gen
purchasing_gen_df["Avg Total Purchase per Person"] = per_person.round(2).map("${:.2f}".format)

purchasing_gen_df.head()

,Total Players,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,81,$3.20,$361.94,$4.47
Male,484,$3.02,$1967.64,$4.07
Other / Non-Disclosed,11,$3.35,$50.19,$4.56

In [82]:
print(purchase_data['Age'].max())
print(purchase_data['Age'].min())

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 49.9]
age_range = ["10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_range)

age_group = purchase_data.groupby("Age Range")

count_age_group = age_group["SN"].nunique()

perc_age_group = (count_age_group/total_players_count)*100

age_dem_df = pd.DataFrame({
    "Total Players" : count_age_group,
    "Percentage of Players": perc_age_group.map("{:.2f}%".format)
})

age_dem_df.index.name = None
age_dem_df

45
7

       Total Players Percentage of Players
10                17                 2.95%
10-14             22                 3.82%
15-19            107                18.58%
20-24            258                44.79%
25-29             77                13.37%
30-34             52                 9.03%
35-39             31                 5.38%
40+               12                 2.08%

In [83]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 49.9]
age_range = ["10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_range)

age_group = purchase_data.groupby("Age Range")

purchase_count_age = age_group["Purchase ID"].nunique()

purchase_avg_age = age_group["Price"].mean()

purchase_total_age = age_group["Price"].sum()

purchase_avg_per_age = (purchase_total_age / count_age_group)

purchase_analysis = pd.DataFrame({
    "Purchase Count": purchase_count_age,
    "Average Purchase Price": purchase_avg_age.round(2).map("${:.2f}".format),
    "Total Purchase Value": purchase_total_age.round(2).map("${:.2f}".format),
    "Avg Total Purchase per Person": purchase_avg_per_age.round(2).map("${:.2f}".format)
})

purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [108]:
purchasers = purchase_data.groupby("SN")

purchasers_count = purchasers["Purchase ID"].count()

avg_purchasers = purchasers["Price"].mean()

total_purchasers = purchasers["Price"].sum()

top_spenders = pd.DataFrame({
    "Purchase Count": purchasers_count,
    "Average Purchase Price": avg_purchasers.round(2).map("${:.2f}".format),
    "Total Purchase Price": total_purchasers.round(2).map("${:.2f}".format)
    
})

top_spenders.sort_values(["Purchase Count"],ascending=False).head()

             Purchase Count Average Purchase Price Total Purchase Price
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

In [142]:
most_popular_items = purchase_data[["Item ID","Item Name","Price"]]

items_grouped = most_popular_items.groupby(["Item ID", "Item Name"])

count_popular_items = items_grouped["Price"].count()
                                    
popular_items_sum = (items_grouped["Price"].sum())
                                    
popular_items_cost = popular_items_sum/count_popular_items
                                    
most_popular_items_df = pd.DataFrame({
    "Purchase Count": count_popular_items,
    "Item Price": popular_items_cost,
    "Total Purchase Value": popular_items_sum
})


sorted_popular = most_popular_items_df.sort_values(by='Purchase Count', ascending=False).head()


sorted_popular.style.format({
    "Item Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}"
})

In [145]:
most_profitable_items_df = most_popular_items_df.sort_values(by='Total Purchase Value', ascending=False).head()

most_profitable_items_df.style.format({
    "Item Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}"
})